*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*
body{
    display: flex;
    min-height: 100vh;
}
nav{
    flex: 1;
}
nav, aside{
    width: 50em;
}
#contenu{
    flex: 6;
    display: flex;
    flex-direction: column;
}
header, footer{
    min-height: 20vh;
}
main{
    display: flex;
}
article{
    flex: 3;
    min-height: 60vh;
}
aside{
    flex: 1;
}

nav{
    background-color: beige;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav a{
    text-decoration: none;
    color: black;
}
nav, aside, article{
    padding: 10px;
}
header, footer{
    background-color: darkgray;
}
header h1, footer p{
    text-align: center;
}
aside{
    background-color: bisque;
}
*/
