*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo>img{
    display: block;
    max-width: 80px;
}
#menu{
    display: flex;
    flex-direction: column;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav>li{
    padding: 10px;
    list-style-type: none;
}
nav a{
    text-decoration: none;
    color: black;
}
nav>li:hover{
    background-color: lightslategray;
}
nav a:hover{
    color: brown;
}
nav a:active{
    color: chocolate;
}
#containers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.carte{
    background-color: #FFF;
    margin-bottom: 10px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
}
.carte>a{
    text-decoration: none;
    color: #000;
}
.carte:hover{
    box-sizing: border-box;
    border: 2px solid;
}
figure>img{
    margin: auto;
    display: block;
    max-width: 250px;
}